.body {
    margin: auto;
    padding: auto;
    
  }
.background{
    background-color: #0077b3;
    position:fixed;
    top: 0px;
    right: 150px;
    left: 0px;
  }
.menu-bar{
    background-color:#fbf7ff;
    color: #f8f5f9;
 }
.menu{
    position:relative;
}
.button{
  text-decoration:none;
}

   
