.body {
    margin: auto;
    padding: auto;
    
  }
  .background{
    background-color: #0077b3;
  }
.menu-bar{
    position:fixed;
    background-color:#673c9b;
    color: #8d45ba;
}
.menu{
    position:absolute;
    top: 500px;
}

   
