.body {
    margin: auto;
    padding: auto;
    
  }
  .background{
    background-color: #0077b3;
  }
.menu-bar{
    position:fixed;
    background-color:#5d89bb;
    background-size: cover;

}
.menu{
    position:top;
    margin-top: 120;
}